Nfine/project/NFine.Web/Web References/SapAttendance/zhrws_kqkshz.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char36">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="36" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char256">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Zhr00T098">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Guid" type="n0:char36" />
          <xsd:element name="Pernr" type="n0:numeric8" />
          <xsd:element name="Nachn" type="n0:char25" />
          <xsd:element name="Zper" type="n0:char6" />
          <xsd:element name="Zhrks" type="n0:char10" />
          <xsd:element name="Zhrksms" type="n0:char50" />
          <xsd:element name="Zhrzk" type="n0:char10" />
          <xsd:element name="Zhrzkms" type="n0:char50" />
          <xsd:element name="Zhrbz" type="tns:char256" />
          <xsd:element name="Ztjr" type="n0:char20" />
          <xsd:element name="Ztjrq" type="n0:date10" />
          <xsd:element name="Ztjsj" type="tns:char20" />
          <xsd:element name="Zshr" type="n0:char20" />
          <xsd:element name="Zshrq" type="n0:date10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZhr00T098">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zhr00T098" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Zhr00FmKqkssp">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="T_098" type="tns:TableOfZhr00T098" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Zhr00FmKqksspResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Mes" type="n0:char20" />
            <xsd:element minOccurs="0" name="T_098" type="tns:TableOfZhr00T098" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Zhr00FmKqkssp">
    <wsdl:part name="parameters" element="tns:Zhr00FmKqkssp" />
  </wsdl:message>
  <wsdl:message name="Zhr00FmKqksspResponse">
    <wsdl:part name="parameter" element="tns:Zhr00FmKqksspResponse" />
  </wsdl:message>
  <wsdl:portType name="ZHRWS_KQKSHZ">
    <wsdl:operation name="Zhr00FmKqkssp">
      <wsdl:input message="tns:Zhr00FmKqkssp" />
      <wsdl:output message="tns:Zhr00FmKqksspResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZHRWS_KQKSHZ" type="tns:ZHRWS_KQKSHZ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zhr00FmKqkssp">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHRWS_KQkshz:Zhr00FmKqksspRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZHRWS_KQKSHZ_soap12" type="tns:ZHRWS_KQKSHZ">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zhr00FmKqkssp">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHRWS_KQkshz:Zhr00FmKqksspRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZHRWS_KQKSHZ">
    <wsdl:port name="ZHRWS_KQKSHZ" binding="tns:ZHRWS_KQKSHZ">
      <soap:address location="http://p01app2:8001/sap/bc/srt/rfc/sap/zhrws_kqkshz/800/zhrws_kqkshz/zhrws_kqkshz" />
    </wsdl:port>
    <wsdl:port name="ZHRWS_KQKSHZ_soap12" binding="tns:ZHRWS_KQKSHZ_soap12">
      <wsoap12:address location="http://p01app2:8001/sap/bc/srt/rfc/sap/zhrws_kqkshz/800/zhrws_kqkshz/zhrws_kqkshz" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>