printer/XHPrint/XH_Print/Web References/MonthSalary/zhr00_cw3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Zhr00SBz">
        <xsd:sequence>
          <xsd:element name="Zx" type="xsd:int" />
          <xsd:element name="Zy" type="xsd:int" />
          <xsd:element name="Value" type="n0:char20" />
          <xsd:element name="Zt" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZhr00SBz">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zhr00SBz" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Zhr00FmGzt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Icnum" type="n0:char30" />
            <xsd:element name="Month" type="n0:char2" />
            <xsd:element minOccurs="0" name="TZb" type="tns:TableOfZhr00SBz" />
            <xsd:element name="Year" type="n0:numeric4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Zhr00FmGztResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Dylk" type="xsd:int" />
            <xsd:element name="EMessage" type="n0:char50" />
            <xsd:element name="Jh" type="xsd:int" />
            <xsd:element name="Jl" type="xsd:int" />
            <xsd:element minOccurs="0" name="TZb" type="tns:TableOfZhr00SBz" />
            <xsd:element name="Tg" type="xsd:int" />
            <xsd:element name="Tk" type="xsd:int" />
            <xsd:element name="Tx" type="xsd:int" />
            <xsd:element name="Ty" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Zhr00FmGzt">
    <wsdl:part name="parameters" element="tns:Zhr00FmGzt" />
  </wsdl:message>
  <wsdl:message name="Zhr00FmGztResponse">
    <wsdl:part name="parameter" element="tns:Zhr00FmGztResponse" />
  </wsdl:message>
  <wsdl:portType name="ZHR00_CW3">
    <wsdl:operation name="Zhr00FmGzt">
      <wsdl:input message="tns:Zhr00FmGzt" />
      <wsdl:output message="tns:Zhr00FmGztResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZHR00_CW3" type="tns:ZHR00_CW3">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zhr00FmGzt">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHR00_CW3:Zhr00FmGztRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZHR00_CW3_soap12" type="tns:ZHR00_CW3">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zhr00FmGzt">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHR00_CW3:Zhr00FmGztRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZHR00_CW3">
    <wsdl:port name="ZHR00_CW3" binding="tns:ZHR00_CW3">
      <soap:address location="http://p01app1:8001/sap/bc/srt/rfc/sap/zhr00_cw3/800/zhr00_cw3/zhr00_cw3" />
    </wsdl:port>
    <wsdl:port name="ZHR00_CW3_soap12" binding="tns:ZHR00_CW3_soap12">
      <wsoap12:address location="http://p01app1:8001/sap/bc/srt/rfc/sap/zhr00_cw3/800/zhr00_cw3/zhr00_cw3" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>