AccountingWriteOff/NFine.Web/Web References/FundSap/zws_wwkf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char200">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="200" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Zfi02S026">
        <xsd:sequence>
          <xsd:element name="Cardid" type="n0:char12" />
          <xsd:element name="Cardno" type="n0:char12" />
          <xsd:element name="Zjfid" type="n0:char40" />
          <xsd:element name="Zjyfg" type="n0:char1" />
          <xsd:element name="Zprmg" type="n0:char10" />
          <xsd:element name="Ernam" type="n0:char12" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Aufnr" type="n0:char12" />
          <xsd:element name="Zltext" type="n0:char200" />
          <xsd:element name="Dmbtr" type="n0:curr13.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zbc00SMsg">
        <xsd:sequence>
          <xsd:element name="ZbcLogid" type="n0:numeric10" />
          <xsd:element name="Msgty" type="n0:char1" />
          <xsd:element name="ZbcTname" type="n0:char20" />
          <xsd:element name="ZbcTbidx" type="n0:char50" />
          <xsd:element name="Msgtx" type="n0:char220" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZfi02S026">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zfi02S026" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Zfi02FmWwkf">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ICardid" type="n0:char12" />
            <xsd:element minOccurs="0" name="ILgort" type="n0:char4" />
            <xsd:element name="IPasswd" type="n0:char12" />
            <xsd:element minOccurs="0" name="TAufk" type="tns:TableOfZfi02S026" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Zfi02FmWwkfResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OsMsg" type="tns:Zbc00SMsg" />
            <xsd:element minOccurs="0" name="TAufk" type="tns:TableOfZfi02S026" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Zfi02FmWwkf">
    <wsdl:part name="parameters" element="tns:Zfi02FmWwkf" />
  </wsdl:message>
  <wsdl:message name="Zfi02FmWwkfResponse">
    <wsdl:part name="parameter" element="tns:Zfi02FmWwkfResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_WWKF">
    <wsdl:operation name="Zfi02FmWwkf">
      <wsdl:input message="tns:Zfi02FmWwkf" />
      <wsdl:output message="tns:Zfi02FmWwkfResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_WWKF" type="tns:ZWS_WWKF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zfi02FmWwkf">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_WWKF:Zfi02FmWwkfRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_WWKF_soap12" type="tns:ZWS_WWKF">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zfi02FmWwkf">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_WWKF:Zfi02FmWwkfRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_WWKF">
    <wsdl:port name="ZWS_WWKF" binding="tns:ZWS_WWKF">
      <soap:address location="http://saptest-app1.WHXH.COM:8000/sap/bc/srt/rfc/sap/zws_wwkf/300/zws_wwkf/zws_wwkf" />
    </wsdl:port>
    <wsdl:port name="ZWS_WWKF_soap12" binding="tns:ZWS_WWKF_soap12">
      <wsoap12:address location="http://saptest-app1.WHXH.COM:8000/sap/bc/srt/rfc/sap/zws_wwkf/300/zws_wwkf/zws_wwkf" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>