printer/WindowsFormsApp1/WindowsFormsApp1/Web References/GetInfo/zhrws_zcps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="Zhr00FmZcpsdy">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Icnum" type="n0:char30" />
            <xsd:element name="Zhrzjlx" type="tns:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Zhr00FmZcpsdyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Gesctxt" type="tns:char2" />
            <xsd:element name="Icnum" type="n0:char30" />
            <xsd:element name="Mes" type="tns:char30" />
            <xsd:element name="Nachn" type="n0:char40" />
            <xsd:element name="Orgtx" type="tns:char25" />
            <xsd:element name="Pernr" type="tns:numeric8" />
            <xsd:element name="Zhrbz" type="tns:char60" />
            <xsd:element name="Zhrpzh" type="tns:char30" />
            <xsd:element name="Zhrzc" type="tns:char20" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Zhr00FmZcpsdy">
    <wsdl:part name="parameters" element="tns:Zhr00FmZcpsdy" />
  </wsdl:message>
  <wsdl:message name="Zhr00FmZcpsdyResponse">
    <wsdl:part name="parameter" element="tns:Zhr00FmZcpsdyResponse" />
  </wsdl:message>
  <wsdl:portType name="ZHRWS_ZCPS">
    <wsdl:operation name="Zhr00FmZcpsdy">
      <wsdl:input message="tns:Zhr00FmZcpsdy" />
      <wsdl:output message="tns:Zhr00FmZcpsdyResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZHRWS_ZCPS" type="tns:ZHRWS_ZCPS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zhr00FmZcpsdy">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHRWS_ZCPS:Zhr00FmZcpsdyRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZHRWS_ZCPS_soap12" type="tns:ZHRWS_ZCPS">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zhr00FmZcpsdy">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHRWS_ZCPS:Zhr00FmZcpsdyRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZHRWS_ZCPS">
    <wsdl:port name="ZHRWS_ZCPS" binding="tns:ZHRWS_ZCPS">
      <soap:address location="http://p01app2:8001/sap/bc/srt/rfc/sap/zhrws_zcps/800/zhrws_zcps/zhrws_zcps" />
    </wsdl:port>
    <wsdl:port name="ZHRWS_ZCPS_soap12" binding="tns:ZHRWS_ZCPS_soap12">
      <wsoap12:address location="http://p01app2:8001/sap/bc/srt/rfc/sap/zhrws_zcps/800/zhrws_zcps/zhrws_zcps" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>