printer/WindowsFormsApp1/WindowsFormsApp1/Web References/ChangeStatus/zhrws_pshx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="Zhr00FmZcpshxzt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Icnum" type="n0:char30" />
            <xsd:element name="Zhrzjlx" type="n0:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Zhr00FmZcpshxztResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Mes" type="tns:char30" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Zhr00FmZcpshxzt">
    <wsdl:part name="parameters" element="tns:Zhr00FmZcpshxzt" />
  </wsdl:message>
  <wsdl:message name="Zhr00FmZcpshxztResponse">
    <wsdl:part name="parameter" element="tns:Zhr00FmZcpshxztResponse" />
  </wsdl:message>
  <wsdl:portType name="ZHRWS_PSHX">
    <wsdl:operation name="Zhr00FmZcpshxzt">
      <wsdl:input message="tns:Zhr00FmZcpshxzt" />
      <wsdl:output message="tns:Zhr00FmZcpshxztResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZHRWS_PSHX" type="tns:ZHRWS_PSHX">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zhr00FmZcpshxzt">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHRWS_PSHX:Zhr00FmZcpshxztRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZHRWS_PSHX_soap12" type="tns:ZHRWS_PSHX">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Zhr00FmZcpshxzt">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHRWS_PSHX:Zhr00FmZcpshxztRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZHRWS_PSHX">
    <wsdl:port name="ZHRWS_PSHX" binding="tns:ZHRWS_PSHX">
      <soap:address location="http://p01app2:8001/sap/bc/srt/rfc/sap/zhrws_pshx/800/zhrws_pshx/zhrws_pshx" />
    </wsdl:port>
    <wsdl:port name="ZHRWS_PSHX_soap12" binding="tns:ZHRWS_PSHX_soap12">
      <wsoap12:address location="http://p01app2:8001/sap/bc/srt/rfc/sap/zhrws_pshx/800/zhrws_pshx/zhrws_pshx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>