SCM/ConsoleApp1/Connected Services/ServiceReference1/SCM_XH4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/scm/SCM_XH.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ipedf.App.Models" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportPurchasePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportPurchasePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ipedf.App.Models" minOccurs="0" name="ExportPurchasePlanResult" nillable="true" type="q1:WcfMess_XH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportSupplyPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trueName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ipedf.App.Models" minOccurs="0" name="PlanDetails" nillable="true" type="q2:ArrayOfPlanDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportSupplyPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ipedf.App.Models" minOccurs="0" name="ImportSupplyPlanResult" nillable="true" type="q3:ArrayOfWcfPlan_XH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>